@use 'animations';
@use 'colors';

.auth-root {
  height: 100vh;
  background-image: url('../img/background_pattern.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-content {
  width: 45%;
}

.auth-forms {
  width: 25%;
}

.auth-role-container {
  margin-bottom: 19px;
}

.auth-img {
  width: 50%;
  margin-left: 25%;
  background: transparent;
  transform: translatey(0px);
  animation: levitation 4s ease-in-out infinite;
}

.auth-alternate-container {
  background: transparent;
  width: 100%;
  margin-top: 18px;
}

@media screen and (max-width: 1400px) {
  .auth-content {
    width: 40%;
  }

  .auth-forms {
    width: 30%;
  }

  .auth-img {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .auth-content {
    width: 35%;
  }

  .auth-forms {
    width: 40%;
  }

  .auth-img {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .auth-root {
    flex-direction: column;
  }

  .auth-content {
    width: 80%;
  }

  .auth-img {
    margin-bottom: 18px;
  }

  .auth-forms {
    width: 80%;
  }
}