@use 'colors';

.advs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adv-container {
  width: 800px;
  border: 1px solid colors.$gray;
  border-radius: 8px;
  background: colors.$white;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);

  .body {
    color: colors.$black;
  }
}

.adv-header {
  background: colors.$primary-100;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  align-items: center;
}

.adv-avatar {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50px;
}

.adv-img {
  width: 100%;
  border-top: 1px solid colors.$gray;
  border-bottom: 1px solid colors.$gray;
}

.adv-content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.adv-location {
  margin-bottom: 10px;
}

.location-icon {
  font-size: 32px;
  margin-right: 12px;
}

.adv-date {
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .adv-container {
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
  .adv-container {
    width: 100%;
    border-radius: 0px;
    border-width: 0;

    .title4 {
      font-size: 16px;
    }

    .body {
      font-size: 14px;
    }
  }

  .adv-header {
    background: colors.$white;
  }

  .adv-avatar {
    width: 30px;
    height: 30px;
  }
}